
@{
    ViewData["Title"] = "Contact";
}

<h3>Web Master Bilgileri ViewBag-1</h3>
<p>@ViewBag.id</p>
<p>@ViewBag.Ad</p>
<p>@ViewBag.Soyad</p>
<p>@ViewBag.Mail</p>

<p>@ViewBag.Webmaster.id</p>
<p>@ViewBag.Webmaster.Ad</p>
<p>@ViewBag.Webmaster.Soyad</p>
<p>@ViewBag.Webmaster.Mail</p>

